@model AssetManagement.ViewModels.HomePasswordViewModel
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <style>
        .min-w-570 {
            min-width: 570px;
        }

        .ml-110{
            margin-left: 110px;
        }

        .w-100-110{
            width: calc(100% - 110px);
        }
    </style>
}

<div class="w-2/5 min-w-570 my-20 mx-10">
    <input type="hidden" id="EmpolyID" value="@Model.EmpolyID" />
    <div class="layui-form-item relative">
        <label class="layui-form-label box-content">旧密码:</label>
        <div class="layui-input-block">
            <input type="password" id="OldPassword" autocomplete="off" class="layui-input">           
        </div>
        <img class="iconBox w-10 cursor-pointer absolute top-3 -right-12" src="~/Content/img/eye.svg" />
    </div>

    <div class="layui-form-item relative">
        <label class="layui-form-label box-content">新密码:</label>
        <div class="layui-input-block">
            <input type="password" id="NewPassword" onblur="validateFormat()" autocomplete="off" class="layui-input">
        </div>
        <img class="iconBox w-10 cursor-pointer absolute top-3 -right-12" src="~/Content/img/eye.svg" />
    </div>

    <div class="layui-form-item relative">
        <label class="layui-form-label box-content">确认密码:</label>
        <div class="layui-input-block">
            <input type="password" id="PasswordConfirm" onblur="validateFormat()" autocomplete="off" class="layui-input">
        </div>
        <img class="iconBox w-10 cursor-pointer absolute top-3 -right-12" src="~/Content/img/eye.svg" />
    </div>
    <button type="button" id="submitButton" class="layui-btn ml-110 w-100-110">确认修改</button>
</div>

@section Script{
    <script>
        var inputType = {
            OldPassword: 'password',
            NewPassword: 'password',
            PasswordConfirm: 'password'
        }

        function validateFormat() {
            var result = true
            var NewPassword = $('#NewPassword')
            var PasswordConfirm = $('#PasswordConfirm')
            if (NewPassword.val() != PasswordConfirm.val()) {
                NewPassword.addClass('border-red-400')
                NewPassword.blur(function (event) {
                    $(event.target).removeClass('border-red-400')
                })
                PasswordConfirm.addClass('border-red-400')
                PasswordConfirm.blur(function (event) {
                    $(event.target).removeClass('border-red-400')
                })
                result = false
            }
            return result
        }

        function typeChange(target, name) {
            if (inputType[name] === 'text') {
                inputType[name] = 'password'
                $(target).attr('src', '/Content/img/eye.svg')
                $(target).prev().children('input').attr('type', inputType[name])
            }
            else if (inputType[name] === 'password') {
                inputType[name] = 'text'
                $(target).attr('src', '/Content/img/visible.svg')
                $(target).prev().children('input').attr('type', inputType[name])
            }
        }

        $('.iconBox').click(function (event) {
            if ($(event.target).prev().children('input').attr('id') === 'OldPassword') {               
                typeChange(event.target, 'OldPassword')
            }
            else if ($(event.target).prev().children('input').attr('id') === 'NewPassword') {
                typeChange(event.target, 'NewPassword')
            }
            else if ($(event.target).prev().children('input').attr('id') === 'PasswordConfirm') {
                typeChange(event.target, 'PasswordConfirm')
            }
        })

        $('#submitButton').click(function () {
            if (!validateFormat())
                return false
            $.ajax({
                url: '/Home/Password',
                method: 'post',
                data: {
                    EmpolyID: $('#EmpolyID').val(),
                    OldPassword: $('#OldPassword').val(),
                    NewPassword: $('#NewPassword').val()
                },
                success: (data) => {
                    if (data.code === 0) {
                        layer.alert('修改成功')
                        $('#OldPassword').val('')
                        $('#NewPassword').val('')
                        $('#PasswordConfirm').val('')
                    }
                    else {
                        if (data.errMessage === 'OldPassword') {
                            var OldPassword = $('#OldPassword')
                            OldPassword.addClass('border-red-400')
                            OldPassword.blur(function (event) {
                                $(event.target).removeClass('border-red-400')
                            })
                        }
                        else {
                            layer.alert('修改失败')
                        }
                    }
                }
            })
        })
    </script>
}